body {
  padding: 0 !important;
}

/* Fix rounded corners Safari */
/* html {
  -webkit-backface-visibility: hidden;
-webkit-transform: translate3d(0, 0, 0);
} */

.game-inventory {
  opacity: 0;
  transform: translate(0, 0);
  transition: opacity 2s, transform 1s;
}

/* .game-player {
  opacity: 0;
  transform: translate(0, 0);
  transition: opacity 2s, transform 1s;
  /* transition: opacity 2s ease-out 0s, transform 0.8s linear 0s;
  transform-origin: center center; 
} */

/* .game-latest-card__animation {
  position: "relative";
} */

.game-latest-card {
  background: red;
  position: absolute;
  display: flex;
  font-family: Aldrich;
  justify-content: center;
  align-items: center;
  color: #fff !important;
  font-size: 100px;
  top: 0;
  border-radius: 10px;
  outline: 6px red solid;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 1;
  pointer-events: none;
  z-index: 999999999;
  transform: translate(-150px, -150px) rotate(-10deg);
  opacity: 0;
  z-index:9999;
  pointer-events: none;
  animation-name: example;
  animation-delay: 1s;
  animation-duration: 800ms;
  transform-origin: center center;
}

.game-latest-card__score {
  opacity: 0;
  z-index:9999;
  pointer-events: none;
  animation-name: example2;
  animation-delay: 1s;

  animation-duration: 800ms;
  transform-origin: center center;

}

/* .game-latest-card__animation {
  opacity: 0;
  z-index:9999;
  pointer-events: none;
  animation-name: example;
  animation-duration: 3s;
  transform-origin: center center;
} */
.rotate-spinner  {
  
  animation: rotate 8s linear 0s infinite backwards;

  }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}



@keyframes example {
  0% {
    opacity: 0;
    transform: translate(-150px, -150px) rotate(-10deg) scale(2, 2);

  }
  30% {
    opacity: 0.4;
    /* opacity: 0; */
    transform: translate(-100px, -100px) rotate(-5deg) scale(2, 2);

  }
  68%,
  72% {
    opacity: 1;
    transform: translate(0, 0)  rotate(0) scale(1, 1);

  }
  100% {
    opacity: 0;
    transform: translate(0, 0)  rotate(0) scale(1, 1);

  }
}

@keyframes example2 {
  0% {
    opacity: 1;

  }
  30% {
    opacity: 1;

  }
  68%,
  72% {
    opacity: 1;
    transform: scale(1, 1);
  }
  80% {
    opacity: 0.5;
    transform: scale(2, 2);
  }
  100% {
    opacity: 0;
    transform: scale(3, 3);
  }
}


@keyframes example3 {
  0% {
    opacity: 0,

  }
  30% {
    opacity: 0,

  }
  68%,
  72% {
    opacity: 0,

  }
  100% {
    opacity: 1
  }
}

.stack {
  display: grid;
}
.stack > * {
  grid-row: 1;
  grid-column: 1;
}



/* .player-queue > .game-player {
  transition: all 5s linear;
} */

.all-slides {
  display: flex;
  /* width: 80vw; */
  margin: 0 auto;
  perspective: 70px;
  height: 70px;
}

.single-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: auto;
  position: absolute;
  transition: 400ms ease;
}

.hamburger {
  cursor: pointer;
  display: block;
  min-width: 40px;
}
.line {
  display: block;
  width: 28px;
  height: 2px;
  background-color: white;
  opacity: 40%;
  margin: 7px 0;
  transition: 0.3s all;
}
.line-2 {
  width: 18px;
}
.line-3 {
  width: 26px;
}
.hamburger:hover .line:nth-child(2) {
  width: 30px;
  transition: 0.3s all;
}
.hamburger:hover .line:nth-child(3) {
  width: 30px;
  transition: 0.3s all;
}

.hamburger:active .line:nth-child(1) {
  width: 23px;
  transition: 0.3s all;
}
.hamburger:active .line:nth-child(3) {
  width: 20px;
  transition: 0.6s all;
}

.hamburger:active .line:nth-child(2) {
  width: 10px;
  transition: 0.3s all;
}

.progress {
  background-color: #282828;
  border-radius: 20px;
  position: relative;
  margin: 15px 0;
  height: 10px;
  width: 100%;
}

.progress-done {
  background: linear-gradient(90.19deg, #8482f8 14%, #a6fbf6 86.07%);
  box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}

[data-radix-portal] {
  z-index: 4000 !important;
}

.fadeOut {
  opacity: 0;
  width: 0;
  height: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}
.fadeIn {
  opacity: 1;
  width: 100px;
  height: 100px;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

.draggable {
  /* width: 25%;
  min-height: 6.5em;
  margin: 1rem 0 0 1rem; */
  /* background-color: #29e; */
  color: white;
  /* padding: 4%; */
  touch-action: none;
  user-select: none;
  pointer-events: none;
  transition: none!important;
}

#outer-dropzone {
  height: 140px;
}

#inner-dropzone {
  height: 80px;
}

.dropzone {
  /* background-color: #bfe4ff; */
  /* border: dashed 4px transparent; */
  border-radius: 4px;
  /* margin: 10px auto 30px;
  padding: 10px;
  width: 80%; */
  transition: all 0.3;

  /* transition: background-color 0.3s; */
}

.drop-active {
  border-color: #aaa;
}


.drop-target {
  background-color: rgb(23, 23, 23);
  border-color: #fff !important;
  filter: brightness(130%);}


.drag-drop {
  /* display: inline-block;
  min-width: 40px;
  padding: 2em 0.5em;
  margin: 1rem 0 0 1rem;

  color: #fff;
  background-color: #29e;
  border: solid 2px #fff;

  touch-action: none;
  transform: translate(0px, 0px); */

  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
}



html {
  font-family: sans-serif;
}

.circle {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background-color: rgb(235, 207, 51);
  position: relative;
  margin: 0.6rem;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.text {
  text-align: center;
  margin: 5px;
  font-size: 14px;
}

.image {
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 50%;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}

.button-wrapper {
  text-align: center;
}

.button {
  margin: 2rem 0.4rem;
  color: #ffffff;
  padding: 0.5rem 2rem;
  font-size: 0.8rem;
  cursor: pointer;
  border: none;
  transition: background-color 0.5s ease;
  background-color: #2e81d4;
}

.button:hover {
  background-color: #042c55;
}

.bubbles-wrapper {
  display: flex;
}

.bubbles-group {
  display: flex;
  margin: 1rem auto;
}

.bubbles-group div {
  margin-right: 200px
}

/* Hide scrollbar for modals */
#modal::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.scroll-container {
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}