body {
  padding: 0 !important;
}

.game-inventory { 
  opacity: 0;
  transform: translate(0, 0);
  transition: opacity 2s, transform 1s;
}

.game-player { 
  opacity: 0;
  transform: translate(0, 0);
  transition: opacity 2s, transform 1s;
  /* transition: opacity 2s ease-out 0s, transform 0.8s linear 0s;
  transform-origin: center center; */
}

.hamburger {
  cursor: pointer;
  display: block;
  min-width: 40px;
}
.line {
  display: block;
  width: 28px;
  height: 2px;
  background-color: white;
  opacity: 40%;
  margin: 7px 0;
  transition: 0.3s all;
}
.line-2 {
  width: 18px;
}
.line-3 {
  width: 26px;
}
.hamburger:hover .line:nth-child(2) {
  width: 30px;
  transition: 0.3s all;
}
.hamburger:hover .line:nth-child(3) {
  width: 30px;
  transition: 0.3s all;
}

.hamburger:active .line:nth-child(1) {
  width: 23px;
  transition: 0.3s all;
}
.hamburger:active .line:nth-child(3) {
  width: 20px;
  transition: 0.6s all;
}

.hamburger:active .line:nth-child(2) {
  width: 10px;
  transition: 0.3s all;
}

.progress {
  background-color: #282828;
  border-radius: 20px;
  position: relative;
  margin: 15px 0;
  height: 10px;
  width: 100%;
}

.progress-done {
  background: linear-gradient(90.19deg, #8482f8 14%, #a6fbf6 86.07%);
  box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}


[data-radix-portal] {
  z-index: 4000!important;
}


.fadeOut{
  opacity:0;
  width:0;
  height:0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;

}
.fadeIn{
  opacity:1;
  width:100px;
  height:100px;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;

}

.draggable {
  /* width: 25%;
  min-height: 6.5em;
  margin: 1rem 0 0 1rem;
  background-color: #29e;
  color: white;
  border-radius: 0.75em;
  padding: 4%; */
  touch-action: none;
  user-select: none;
  pointer-events: none;
}

#outer-dropzone {
  height: 140px;
}

#inner-dropzone {
  height: 80px;
}

.dropzone {
  background-color: #bfe4ff;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  transition: background-color 0.3s;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  display: inline-block;
  min-width: 40px;
  padding: 2em 0.5em;
  margin: 1rem 0 0 1rem;

  color: #fff;
  background-color: #29e;
  border: solid 2px #fff;

  touch-action: none;
  transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
}